.wrapp {
  color: #282c34;
  background: #4989dcf2;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 40px;
  font-weight: 900;
  line-height: 1;
  position: absolute;
  right: 5%;
  bottom: 12%;
  transition: 0.2s linear;
  &:hover{
    background: #1a72d7;
  }

  &Form {
    display: flex;
    align-items: center;
    justify-content: center;

    & > input {
      font-size: 20px;
      padding: 5px;
    }

    & > button {
      background: #4a89dc;
      color: white;
      font-size: 20px;
      padding: 5px 10px;
      transition: 0.2s linear;
      &:hover{
        background: #1a72d7;
      }
    }
  }
}


