.profile {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__info {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 50px 20px 20px;
    gap: 15px;
    align-items: center;
  }

  &__contacts {
    font-size: 24px;
    color: #000;
    text-align: left;
    grid-column: 1/3;
    text-decoration: none;
  }

  &__btn {
    text-decoration: none;
    color: #fff;
    background: #0275b1;
    border-radius: 10px;
    padding: 5px;
    transition: .2s ease-out;
    max-width: 280px;
    margin: 0 auto;

    &:hover {
      color: #0275b1;
      background: #fff;
      outline: 1px solid #0275b1;
    }
  }

  &__avatar {
    width: 100%;
  }

  &__name {
    font-size: 30px;
    color: #000;
    text-align: left;
  }
}

.posts {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;

  &__title {
    font-size: 30px;
    color: #000;
    text-align: left;
  }

  &__preload {
    margin: 0 auto;
  }

  &__item {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 5px;

    &-title {
      color: #000;
      font-size: 20px;
      text-align: left;
    }

    &-text {
      color: #615e5e;
      font-size: 16px;
      hyphens: auto;
      text-align: left;
    }
  }
}
