.messages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px 10px;
}

.castom__scroll {
  overflow: auto;
  scrollbar-color: #282c34;
  scrollbar-width: thin;
  max-height: 646px
}

.castom__scroll::-webkit-scrollbar {
  /* 1 - скроллбар */
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 10px;
  background: #9cd5f8;
  width: 10px;
}

.castom__scroll::-webkit-scrollbar-button {
  /* 2 - кнопка */
}

.castom__scroll::-webkit-scrollbar-track {
  /* 3 - трек */
  border-radius: 10px;
  border: 0.6px solid grey;
}

.castom__scroll::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
}

.castom__scroll::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  background:#0275B1;
  border-radius: 10px;
  height: 20px;
  width: 10px;
}


.user {
  align-self: flex-end;
  background: #E9F0F8;
  color: #000;
  padding: 13px 20px;
  border-radius: 4px;
  font-size: 35px;
  position: relative;
  margin-right: 20px;

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #E9F0F8;
    transform: rotate(45deg) translateY(-50%);
    right: -3px;
    top: 50%;
  }
}

.bot {
  align-self: flex-start;
  background: #0275B1;
  padding: 13px 20px;
  border-radius: 4px;
  font-size: 35px;
  position: relative;
  margin-left: 20px;

  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: #0275B1;
    transform: rotate(45deg) translateY(-50%);
    left: -17px;
    top: 50%;
  }
}
